$color_text : rgba(255, 255, 255, 0.677);
$color_text_black : rgba(32, 31, 31, 0.689);
$background-default : rgb(231, 232, 234);
$background-default_black2 : rgb(97, 98, 98);
$background-default_body : rgb(224, 227, 227);


$border_radius_5 : 5px;
$border_radius_50 : 50px;