.article_Card_container  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px black;
    max-width: 900px;
    border-radius: 15px;
    padding: 2em;
    row-gap: 2em;
    .img_Card_container {
        //border: solid 1px rgb(225, 13, 13);
        display: flex;
        justify-content: space-around;
        & img {
            border-radius: 15px;
        }
      

    }
}